.example-card{
    width: 100%;

}
@media screen and (min-width:700px){
    .example-card{
        width: 55%;
        margin: auto;
    }
}

.example-header-image { 
    background-size: cover;
  }
  
  .title{
      font-weight: bold;
  }

  .img-article{
    height: 350px;
}

.action-buttons{
    text-align: center;
}